.container {
    width: 150px;
    height: 90px;
    border-radius: 4px;
}

.container .list-group-item {
    height: 30px;
    width: 150px;
    border-left: none;
    border-right: none;
    padding: 7px 15px;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}